canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* 
HTML dataset은 해당 요소의 attribute에 해당하므로, css에서 attribute selector로 접근할 수 있음! 
element[attr]는 element라는 요소들 중에서 attr 라는 이름의 특성을 가진 element들을 모두 선택한다는 뜻.
즉, 모든 태그들 중에서 data-diagram이라는 특성을 가진 요소들만 선택하니까 span 태그들이 모두 선택되겠지
*/
[data-diagram] {
  /* 가상 요소에 콘텐트가 없어서 inline-block을 해준 뒤, width, height값을 별도로 지정함 */
  display: inline-block;
  width: 5em;
  height: 3em;
  /* border: 1px solid black; */
}

/* 각각의 가상요소에 float값을 줘서 가상요소를 감싸는 텍스트들이 각각 가상요소의 우측, 좌측으로 배치되도록 함. */
.left {
  float: left;
  margin-right: 0.25em;
}

.right {
  float: right;
  margin-left: 0.25em;
}

p {
  /* 좌우 margin을 auto로 지정하고, 최대 너비를 500px로 지정했으므로,
  브라우저가 아무리 커지더라도 p 태그 안의 요소들은 500px을 넘기지 못하며, p태그 양옆의 margin은 브라우저 전체 너비에서 500px을 뺀 뒤 남은 값을 알아서 절반씩 나눠서 할당됨. */
  margin: 1em auto;
  max-width: 500px;
  font-size: xx-large;
}
